# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# General Files
.DS_Store
*.pyc
*.env*
*.out
/python
scripts/

node_modules/
# PyCharm files
*_pycache_*
.ipynb_checkpoints/